{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "no-loops/no-loops": 2
    //"no-console": 2, // Remember, this means error!
    //"prettier/prettier": 2 // Means error
  }
}
